# Cabs Analysis 2018 (Nov-Dec)

## 1. PySpark environment setup

In [1]:
import pandas as pd

cabs=pd.read_csv('cab_rides.csv')

In [2]:
cabs.head(10)

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
5,0.44,Lyft,1545071112138,North Station,Haymarket Square,16.5,1.0,f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2,lyft_lux,Lux Black
6,1.08,Lyft,1543208580200,Northeastern University,Back Bay,10.5,1.0,462816a3-820d-408b-8549-0b39e82f65ac,lyft_plus,Lyft XL
7,1.08,Lyft,1543780384677,Northeastern University,Back Bay,16.5,1.0,474d6376-bc59-4ec9-bf57-4e6d6faeb165,lyft_lux,Lux Black
8,1.08,Lyft,1543818482645,Northeastern University,Back Bay,3.0,1.0,4f9fee41-fde3-4767-bbf1-a00e108701fb,lyft_line,Shared
9,1.08,Lyft,1543315522249,Northeastern University,Back Bay,27.5,1.0,8612d909-98b8-4454-a093-30bd48de0cb3,lyft_luxsuv,Lux Black XL

In [3]:
from datetime import datetime
from datetime import *

cabs['time_stamp'] = pd.to_datetime(cabs['time_stamp'], unit='ms')


print(cabs.head(10))

   distance cab_type              time_stamp              destination  \
0      0.44     Lyft 2018-12-16 09:30:07.890            North Station
1      0.44     Lyft 2018-11-27 02:00:23.677            North Station
2      0.44     Lyft 2018-11-28 01:00:22.198            North Station
3      0.44     Lyft 2018-11-30 04:53:02.749            North Station
4      0.44     Lyft 2018-11-29 03:49:20.223            North Station
5      0.44     Lyft 2018-12-17 18:25:12.138            North Station
6      1.08     Lyft 2018-11-26 05:03:00.200  Northeastern University
7      1.08     Lyft 2018-12-02 19:53:04.677  Northeastern University
8      1.08     Lyft 2018-12-03 06:28:02.645  Northeastern University
9      1.08     Lyft 2018-11-27 10:45:22.249  Northeastern University

             source  price  surge_multiplier  \
0  Haymarket Square    5.0               1.0
1  Haymarket Square   11.0               1.0
2  Haymarket Square    7.0               1.0
3  Haymarket Square   26.0               1.0
4  Haymarket Square    9.0               1.0
5  Haymarket Square   16.5               1.0
6          Back Bay   10.5               1.0
7          Back Bay   16.5               1.0
8          Back Bay    3.0               1.0
9          Back Bay   27.5               1.0

                                     id    product_id          name
0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7     lyft_line        Shared
1  4bd23055-6827-41c6-b23b-3c491f24e74d  lyft_premier           Lux
2  981a3613-77af-4620-a42a-0c0866077d1e          lyft          Lyft
3  c2d88af2-d278-4bfd-a8d0-29ca77cc5512   lyft_luxsuv  Lux Black XL
4  e0126e1f-8ca9-4f2e-82b3-50505a09db9a     lyft_plus       Lyft XL
5  f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2      lyft_lux     Lux Black
6  462816a3-820d-408b-8549-0b39e82f65ac     lyft_plus       Lyft XL
7  474d6376-bc59-4ec9-bf57-4e6d6faeb165      lyft_lux     Lux Black
8  4f9fee41-fde3-4767-bbf1-a00e108701fb     lyft_line        Shared
9  8612d909-98b8-4454-a093-30bd48de0cb3   lyft_luxsuv  Lux Black XL

In [4]:
cabs['day'] = cabs['time_stamp'].dt.day
cabs['month'] = cabs['time_stamp'].dt.month
cabs['year'] = cabs['time_stamp'].dt.year
cabs['hour'] = cabs['time_stamp'].dt.hour
cabs['time'] = cabs['time_stamp'].dt.time


print(cabs.head(10))

   distance cab_type              time_stamp              destination  \
0      0.44     Lyft 2018-12-16 09:30:07.890            North Station
1      0.44     Lyft 2018-11-27 02:00:23.677            North Station
2      0.44     Lyft 2018-11-28 01:00:22.198            North Station
3      0.44     Lyft 2018-11-30 04:53:02.749            North Station
4      0.44     Lyft 2018-11-29 03:49:20.223            North Station
5      0.44     Lyft 2018-12-17 18:25:12.138            North Station
6      1.08     Lyft 2018-11-26 05:03:00.200  Northeastern University
7      1.08     Lyft 2018-12-02 19:53:04.677  Northeastern University
8      1.08     Lyft 2018-12-03 06:28:02.645  Northeastern University
9      1.08     Lyft 2018-11-27 10:45:22.249  Northeastern University

             source  price  surge_multiplier  \
0  Haymarket Square    5.0               1.0
1  Haymarket Square   11.0               1.0
2  Haymarket Square    7.0               1.0
3  Haymarket Square   26.0               1.0
4  Haymarket Square    9.0               1.0
5  Haymarket Square   16.5               1.0
6          Back Bay   10.5               1.0
7          Back Bay   16.5               1.0
8          Back Bay    3.0               1.0
9          Back Bay   27.5               1.0

                                     id    product_id          name  day  \
0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7     lyft_line        Shared   16
1  4bd23055-6827-41c6-b23b-3c491f24e74d  lyft_premier           Lux   27
2  981a3613-77af-4620-a42a-0c0866077d1e          lyft          Lyft   28
3  c2d88af2-d278-4bfd-a8d0-29ca77cc5512   lyft_luxsuv  Lux Black XL   30
4  e0126e1f-8ca9-4f2e-82b3-50505a09db9a     lyft_plus       Lyft XL   29
5  f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2      lyft_lux     Lux Black   17
6  462816a3-820d-408b-8549-0b39e82f65ac     lyft_plus       Lyft XL   26
7  474d6376-bc59-4ec9-bf57-4e6d6faeb165      lyft_lux     Lux Black    2
8  4f9fee41-fde3-4767-bbf1-a00e108701fb     lyft_line        Shared    3
9  8612d909-98b8-4454-a093-30bd48de0cb3   lyft_luxsuv  Lux Black XL   27

   month  year  hour             time
0     12  2018     9  09:30:07.890000
1     11  2018     2  02:00:23.677000
2     11  2018     1  01:00:22.198000
3     11  2018     4  04:53:02.749000
4     11  2018     3  03:49:20.223000
5     12  2018    18  18:25:12.138000
6     11  2018     5  05:03:00.200000
7     12  2018    19  19:53:04.677000
8     12  2018     6  06:28:02.645000
9     11  2018    10  10:45:22.249000

In [5]:
cabs.drop(['time_stamp'],axis='columns', inplace=True)

In [6]:
print(cabs.head(10))

   distance cab_type              destination            source  price  \
0      0.44     Lyft            North Station  Haymarket Square    5.0
1      0.44     Lyft            North Station  Haymarket Square   11.0
2      0.44     Lyft            North Station  Haymarket Square    7.0
3      0.44     Lyft            North Station  Haymarket Square   26.0
4      0.44     Lyft            North Station  Haymarket Square    9.0
5      0.44     Lyft            North Station  Haymarket Square   16.5
6      1.08     Lyft  Northeastern University          Back Bay   10.5
7      1.08     Lyft  Northeastern University          Back Bay   16.5
8      1.08     Lyft  Northeastern University          Back Bay    3.0
9      1.08     Lyft  Northeastern University          Back Bay   27.5

   surge_multiplier                                    id    product_id  \
0               1.0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7     lyft_line
1               1.0  4bd23055-6827-41c6-b23b-3c491f24e74d  lyft_premier
2               1.0  981a3613-77af-4620-a42a-0c0866077d1e          lyft
3               1.0  c2d88af2-d278-4bfd-a8d0-29ca77cc5512   lyft_luxsuv
4               1.0  e0126e1f-8ca9-4f2e-82b3-50505a09db9a     lyft_plus
5               1.0  f6f6d7e4-3e18-4922-a5f5-181cdd3fa6f2      lyft_lux
6               1.0  462816a3-820d-408b-8549-0b39e82f65ac     lyft_plus
7               1.0  474d6376-bc59-4ec9-bf57-4e6d6faeb165      lyft_lux
8               1.0  4f9fee41-fde3-4767-bbf1-a00e108701fb     lyft_line
9               1.0  8612d909-98b8-4454-a093-30bd48de0cb3   lyft_luxsuv

           name  day  month  year  hour             time
0        Shared   16     12  2018     9  09:30:07.890000
1           Lux   27     11  2018     2  02:00:23.677000
2          Lyft   28     11  2018     1  01:00:22.198000
3  Lux Black XL   30     11  2018     4  04:53:02.749000
4       Lyft XL   29     11  2018     3  03:49:20.223000
5     Lux Black   17     12  2018    18  18:25:12.138000
6       Lyft XL   26     11  2018     5  05:03:00.200000
7     Lux Black    2     12  2018    19  19:53:04.677000
8        Shared    3     12  2018     6  06:28:02.645000
9  Lux Black XL   27     11  2018    10  10:45:22.249000

In [7]:
cabs.to_csv('cabs.csv')

In [8]:
import findspark
findspark.init()

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark3/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

## 2. Data source and Spark data abstraction (DataFrame) setup

In [9]:
CabsDF = spark.read \
                 .option("inferSchema", "true") \
                 .option("header", "true") \
                 .csv("cabs.csv")

## 3. Data set metadata analysis
### A. Display schema and size of the DataFrame

In [10]:
from IPython.display import display, Markdown

CabsDF.printSchema()
display(Markdown("This DataFrame has **%d rows**." % CabsDF.count()))

root
 |-- _c0: integer (nullable = true)
 |-- distance: double (nullable = true)
 |-- cab_type: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- source: string (nullable = true)
 |-- price: double (nullable = true)
 |-- surge_multiplier: double (nullable = true)
 |-- id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- time: string (nullable = true)

This DataFrame has **693071 rows**.

### B. Get one or multiple random samples from the data set

In [11]:
CabsDF.cache() # optimization to make the processing faster
CabsDF.sample(False, 0.1).take(2)

[Row(_c0=2, distance=0.44, cab_type='Lyft', destination='North Station', source='Haymarket Square', price=7.0, surge_multiplier=1.0, id='981a3613-77af-4620-a42a-0c0866077d1e', product_id='lyft', name='Lyft', day=28, month=11, year=2018, hour=1, time='01:00:22.198000'),
 Row(_c0=11, distance=1.08, cab_type='Lyft', destination='Northeastern University', source='Back Bay', price=7.0, surge_multiplier=1.0, id='d859ec69-b3ff-4af8-9abd-441e31430c94', product_id='lyft', name='Lyft', day=28, month=11, year=2018, hour=19, time='19:23:07.778000')]

In [12]:
CabsDF.head(5)

[Row(_c0=0, distance=0.44, cab_type='Lyft', destination='North Station', source='Haymarket Square', price=5.0, surge_multiplier=1.0, id='424553bb-7174-41ea-aeb4-fe06d4f4b9d7', product_id='lyft_line', name='Shared', day=16, month=12, year=2018, hour=9, time='09:30:07.890000'),
 Row(_c0=1, distance=0.44, cab_type='Lyft', destination='North Station', source='Haymarket Square', price=11.0, surge_multiplier=1.0, id='4bd23055-6827-41c6-b23b-3c491f24e74d', product_id='lyft_premier', name='Lux', day=27, month=11, year=2018, hour=2, time='02:00:23.677000'),
 Row(_c0=2, distance=0.44, cab_type='Lyft', destination='North Station', source='Haymarket Square', price=7.0, surge_multiplier=1.0, id='981a3613-77af-4620-a42a-0c0866077d1e', product_id='lyft', name='Lyft', day=28, month=11, year=2018, hour=1, time='01:00:22.198000'),
 Row(_c0=3, distance=0.44, cab_type='Lyft', destination='North Station', source='Haymarket Square', price=26.0, surge_multiplier=1.0, id='c2d88af2-d278-4bfd-a8d0-29ca77cc5512', product_id='lyft_luxsuv', name='Lux Black XL', day=30, month=11, year=2018, hour=4, time='04:53:02.749000'),
 Row(_c0=4, distance=0.44, cab_type='Lyft', destination='North Station', source='Haymarket Square', price=9.0, surge_multiplier=1.0, id='e0126e1f-8ca9-4f2e-82b3-50505a09db9a', product_id='lyft_plus', name='Lyft XL', day=29, month=11, year=2018, hour=3, time='03:49:20.223000')]

### C. Data entities, metrics and dimensions

I've identified the following elements:

* **Entities:** Cab_type, destination, source, id, product_id, name
* **Metrics:** Distance, price
* **Dimensions:** surge_multiplier, destination, source, product_id, name, day, month, year, time

### D. Column categorization

The following could be a potential column categorization:

* **Time related columns:** *Year*, *Month*, *day*, *time*
* **Related columns profiling:** *Destination*, *Source*, *name* and *distance*
* **Other columns for basic profiling:** *Surge_multiplier*, *product_id* and *Cab_Type* 

## 4. Columns groups basic profiling to better understand our data set
### A. Time related columns basic profiling

In [17]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first, lit


print ("Summary of columns Year, Month, Day and Hour:")
CabsDF.select("day","month","year","hour").summary().show()

print("Checking for nulls on columns Year, Month, Day and Time:")
CabsDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["day","month","year","hour"]]).show()

print("Checking amount of distinct values in columns Year, Month, Day and Hour:")
CabsDF.select([countDistinct(c).alias(c) for c in ["day","month","year","hour"]]).show()

print ("Most and least frequent occurrences for Day and Hour:")
dayDF = CabsDF.groupBy("day").agg(count(lit(1)).alias("Total"))
hourDF = CabsDF.groupBy("hour").agg(count(lit(1)).alias("Total"))

leastFreqDay    = dayDF.orderBy(col("Total").asc()).first()
mostFreqDay    = dayDF.orderBy(col("Total").desc()).first()
leastFreqHour     = hourDF.orderBy(col("Total").asc()).first()
mostFreqHour     = hourDF.orderBy(col("Total").desc()).first()

display(Markdown("""
| %s | %s | %s | %s |
|----|----|----|----|
| %s | %s | %s | %s |
""" % ("leastFreqDay", "mostFreqDay", "leastFreqHour", "mostFreqHour", \
       "%d (%d occurrences)" % (leastFreqDay["day"], leastFreqDay["Total"]), \
       "%d (%d occurrences)" % (mostFreqDay["day"], mostFreqDay["Total"]), \
       "%d (%d occurrences)" % (leastFreqHour["hour"], leastFreqHour["Total"]), \
       "%d (%d occurrences)" % (mostFreqHour["hour"], mostFreqHour["Total"]))))

Summary of columns Year, Month, Day and Hour:

+-------+------------------+------------------+--------------------+-----------------+
|summary|               day|             month|                year|             hour|
+-------+------------------+------------------+--------------------+-----------------+
|  count|            693071|            693071|              693071|           693071|
|   mean|17.794364502338144| 11.58668448109934|              2018.0|11.61913714467926|
| stddev| 9.982286013944805|0.4924288279625382|1.135905899981944...|6.948114156101857|
|    min|                 1|                11|                2018|                0|
|    25%|                13|                11|                2018|                6|
|    50%|                17|                12|                2018|               12|
|    75%|                28|                12|                2018|               18|
|    max|                30|                12|                2018|               23|
+-------+------------------+------------------+--------------------+-----------------+

Checking for nulls on columns Year, Month, Day and Time:
+---+-----+----+----+
|day|month|year|hour|
+---+-----+----+----+
|  0|    0|   0|   0|
+---+-----+----+----+

Checking amount of distinct values in columns Year, Month, Day and Hour:

+---+-----+----+----+
|day|month|year|hour|
+---+-----+----+----+
| 17|    2|   1|  24|
+---+-----+----+----+

Most and least frequent occurrences for Day and Hour:

| leastFreqDay | mostFreqDay | leastFreqHour | mostFreqHour |
|----|----|----|----|
| 9 (1674 occurrences) | 27 (76121 occurrences) | 8 (24275 occurrences) | 0 (32413 occurrences) |

### B. Related columns for basic profiling

In [24]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first

print ("Summary of columns destination, source, name and distance:")
CabsDF.select("destination", "source", "name", "distance").summary().show()

print("Checking for nulls on columns destination, source, name and distance:")
CabsDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["destination", "source", "name", "distance"]]).show()

print("Checking amount of distinct values in columns destination, source, name and distance:")
CabsDF.select([countDistinct(c).alias(c) for c in ["destination", "source", "name", "distance"]]).show()

print ("Most and least frequent occurrences for destination, source, name and distance:")
DestinationDF = CabsDF.groupBy("destination").agg(count(lit(1)).alias("Total"))
SourceDF   = CabsDF.groupBy("source").agg(count(lit(1)).alias("Total"))
NameDF    = CabsDF.groupBy("name").agg(count(lit(1)).alias("Total"))
DistanceDF      = CabsDF.groupBy("distance").agg(count(lit(1)).alias("Total"))

leastFreqDestination   = DestinationDF.orderBy(col("Total").asc()).first()
mostFreqDestination     = DestinationDF.orderBy(col("Total").desc()).first()
leastFreqSource      = SourceDF.orderBy(col("Total").asc()).first()
mostFreqSource       = SourceDF.orderBy(col("Total").desc()).first()
leastFreqName      = NameDF.orderBy(col("Total").asc()).first()
mostFreqName        = NameDF.orderBy(col("Total").desc()).first()
leastFreqDistance         = DistanceDF.orderBy(col("Total").asc()).first()
mostFreqDistance          = DistanceDF.orderBy(col("Total").desc()).first()

display(Markdown("""
| %s | %s | %s | %s |
|----|----|----|----|
| %s | %s | %s | %s |
""" % ("leastFreqDestination", "mostFreqDestination", "leastFreqSource", "mostFreqSource", \
       "%s (%d occurrences)" % (leastFreqDestination["destination"], leastFreqDestination["Total"]), \
       "%s (%d occurrences)" % (mostFreqDestination["destination"], mostFreqDestination["Total"]), \
       "%s (%d occurrences)" % (leastFreqSource["source"], leastFreqSource["Total"]), \
       "%s (%d occurrences)" % (mostFreqSource["source"], mostFreqSource["Total"]))))
display(Markdown("""
| %s | %s | %s | %s |
|----|----|----|----|
| %s | %s | %s | %s |
""" % ("leastFreqName", "mostFreqName", "leastFreqDistance", "mostFreqDistance", \
       "%s (%d occurrences)" % (leastFreqName["name"], leastFreqName["Total"]), \
       "%s (%d occurrences)" % (mostFreqName["name"], mostFreqName["Total"]), \
       "%s (%d occurrences)" % (leastFreqDistance["distance"], leastFreqDistance["Total"]), \
       "%s (%d occurrences)" % (mostFreqDistance["distance"], mostFreqDistance["Total"]))))

Summary of columns destination, source, name and distance:

+-------+-----------+--------+------+------------------+
|summary|destination|  source|  name|          distance|
+-------+-----------+--------+------+------------------+
|  count|     693071|  693071|693071|            693071|
|   mean|       null|    null|  null|2.1894297553925237|
| stddev|       null|    null|  null|1.1389369868597294|
|    min|   Back Bay|Back Bay| Black|              0.02|
|    25%|       null|    null|  null|              1.28|
|    50%|       null|    null|  null|              2.16|
|    75%|       null|    null|  null|              2.92|
|    max|   West End|West End|   WAV|              7.86|
+-------+-----------+--------+------+------------------+

Checking for nulls on columns destination, source, name and distance:
+-----------+------+----+--------+
|destination|source|name|distance|
+-----------+------+----+--------+
|          0|     0|   0|       0|
+-----------+------+----+--------+

Checking amount of distinct values in columns destination, source, name and distance:
+-----------+------+----+--------+
|destination|source|name|distance|
+-----------+------+----+--------+
|         12|    12|  13|     549|
+-----------+------+----+--------+

Most and least frequent occurrences for destination, source, name and distance:

| leastFreqDestination | mostFreqDestination | leastFreqSource | mostFreqSource |
|----|----|----|----|
| North Station (57119 occurrences) | Financial District (58851 occurrences) | North Station (57118 occurrences) | Financial District (58857 occurrences) |

| leastFreqName | mostFreqName | leastFreqDistance | mostFreqDistance |
|----|----|----|----|
| Shared (51233 occurrences) | Black SUV (55096 occurrences) | 5.95 (6 occurrences) | 2.66 (9174 occurrences) |

### C. Other columns for basic profiling

In [25]:
from IPython.display import display, Markdown
from pyspark.sql.functions import when, count, col, countDistinct, desc, first

print ("Summary of columns Surge_multiplier, Price, Product_id and Cab_type:")
CabsDF.select("surge_multiplier", "price", "product_id", "cab_type").summary().show()

print("Checking for nulls on columns Surge_multiplier, Price, Product_id and Cab_type:")
CabsDF.select([count(when(col(c).isNull(), c)).alias(c) for c in ["surge_multiplier", "price", "product_id", "cab_type"]]).show()

print("Checking amount of distinct values in columns Surge_multiplier, Price, Product_id and Cab_type:")
CabsDF.select([countDistinct(c).alias(c) for c in ["surge_multiplier", "price", "product_id", "cab_type"]]).show()

Summary of columns Surge_multiplier, Price, Product_id and Cab_type:

+-------+-------------------+-----------------+--------------------+--------+
|summary|   surge_multiplier|            price|          product_id|cab_type|
+-------+-------------------+-----------------+--------------------+--------+
|  count|             693071|           637976|              693071|  693071|
|   mean| 1.0138697911180816|16.54512549061407|                null|    null|
| stddev|0.09164126209924166|9.324358581411659|                null|    null|
|    min|                1.0|              2.5|55c66225-fbe7-4fd...|    Lyft|
|    25%|                1.0|              9.0|                null|    null|
|    50%|                1.0|             13.5|                null|    null|
|    75%|                1.0|             22.5|                null|    null|
|    max|                3.0|             97.5|        lyft_premier|    Uber|
+-------+-------------------+-----------------+--------------------+--------+

Checking for nulls on columns Surge_multiplier, Price, Product_id and Cab_type:
+----------------+-----+----------+--------+
|surge_multiplier|price|product_id|cab_type|
+----------------+-----+----------+--------+
|               0|55095|         0|       0|
+----------------+-----+----------+--------+

Checking amount of distinct values in columns Surge_multiplier, Price, Product_id and Cab_type:
+----------------+-----+----------+--------+
|surge_multiplier|price|product_id|cab_type|
+----------------+-----+----------+--------+
|               7|  147|        13|       2|
+----------------+-----+----------+--------+

## 5. Answer some business questions 

### A. Key points to understand and answer to

In [155]:
from pyspark.sql.functions import count, round

totalCabs = CabsDF.count()
nameCategorizationDF = CabsDF\
   .where(col("name")!="NA")\
   .withColumn("Cab Category", when(col("name")=="Black","Black")\
                               .when((col("name")=="Black SUV"),"Black SUV")\
                               .when((col("name")=="Lux"),"Lux")\
                               .when((col("name")=="Lux Black"),"Lux Black")\
                               .when((col("name")=="Lux Black XL"),"Lux Black XL")\
                               .when((col("name")=="Lyft"),"Lyft")\
                               .when((col("name")=="Lyft XL"),"Lyft XL")\
                               .when((col("name")=="Shared"),"Shared")\
                               .when((col("name")=="UberPool"),"UberPool")\
                               .when((col("name")=="UberX"),"UberX")\
                               .when((col("name")=="UberXL"),"UberXL")\
                               .when((col("name")=="WAV"),"WAV")\
                               .when((col("name")=="Taxi"),"Taxi"))

nameCategorizationDF.cache() # optimization to make the processing faster
nameCategorizationDF.where(col("name")!="NA")\
                     .select("Cab Category", "name")\
                     .groupBy("Cab Category")\
                     .agg(count("Cab Category").alias("NumRides"), \
                          (count("Cab Category")/totalCabs*100).alias("Ratio"))\
                     .orderBy("NumRides", ascending=False)\
                     .select("Cab Category","NumRides",round("Ratio",2).alias("RoundedRatio")).show()

+------------+--------+------------+
|Cab Category|NumRides|RoundedRatio|
+------------+--------+------------+
|   Black SUV|   55096|        7.95|
|      UberXL|   55096|        7.95|
|         WAV|   55096|        7.95|
|        Taxi|   55095|        7.95|
|       Black|   55095|        7.95|
|       UberX|   55094|        7.95|
|    UberPool|   55091|        7.95|
|         Lux|   51235|        7.39|
|     Lyft XL|   51235|        7.39|
|Lux Black XL|   51235|        7.39|
|        Lyft|   51235|        7.39|
|   Lux Black|   51235|        7.39|
|      Shared|   51233|        7.39|
+------------+--------+------------+

In [57]:
totalCabs = CabsDF.count()
CompaniesCategorizationDF = CabsDF\
   .where(col("cab_type")!="NA")\
   .withColumn("Cab Company", when(col("cab_type")=="Uber","Uber")\
                               .when((col("cab_type")=="Lyft"),"Lyft"))
                
CompaniesCategorizationDF.cache() # optimization to make the processing faster
CompaniesCategorizationDF.where(col("cab_type")!="NA")\
                     .select("Cab Company", "name")\
                     .groupBy("Cab Company")\
                     .agg(count("Cab Company").alias("NumRides"), \
                          (count("Cab Company")/totalCabs*100).alias("Ratio"))\
                     .orderBy("NumRides", ascending=False)\
                     .select("Cab Company","NumRides",round("Ratio",2).alias("RoundedRatio")).show()

+-----------+--------+------------+
|Cab Company|NumRides|RoundedRatio|
+-----------+--------+------------+
|       Uber|  385663|       55.65|
|       Lyft|  307408|       44.35|
+-----------+--------+------------+

In [64]:
totalCabs = CabsDF.count()
MultiplierCategorizationDF = CabsDF\
   .where(col("surge_multiplier")!=0)\
   .withColumn("Multiplier", when(col("surge_multiplier")==1,"No Multiplier")\
                             .when((col("surge_multiplier")>1)&(col("surge_multiplier")<=2),"Greater than 1 or equal to 2")\
                             .when((col("surge_multiplier")>2)&(col("surge_multiplier")<=3),"Greater than 2 or equal to 3"))

MultiplierCategorizationDF.cache() # optimization to make the processing faster
MultiplierCategorizationDF.where(col("surge_multiplier")!=0)\
                     .select("Multiplier", "surge_multiplier")\
                     .groupBy("Multiplier")\
                     .agg(count("Multiplier").alias("NumRides"), \
                          (count("Multiplier")/totalCabs*100).alias("Ratio"))\
                     .orderBy("NumRides", ascending=False)\
                     .select("Multiplier","NumRides",round("Ratio",2).alias("RoundedRatio")).show()

+--------------------+--------+------------+
|          Multiplier|NumRides|RoundedRatio|
+--------------------+--------+------------+
|       No Multiplier|  672096|       96.97|
|Greater than 1 or...|   20809|         3.0|
|Greater than 2 or...|     166|        0.02|
+--------------------+--------+------------+

In [68]:
totalCabs = CabsDF.count()
DistanceCategorizationDF = CabsDF\
   .where(col("distance")!=0)\
   .withColumn("Distance Range", when((col("distance")>=0)&(col("distance")<=2),"Short Distance")\
                             .when((col("distance")>2)&(col("distance")<=4),"Medium Distance")\
                             .when((col("distance")>4),"Long Distance"))

DistanceCategorizationDF.cache() # optimization to make the processing faster
DistanceCategorizationDF.where(col("distance")!=0)\
                     .select("Distance Range", "distance")\
                     .groupBy("Distance Range")\
                     .agg(count("Distance Range").alias("NumRides"), \
                          (count("Distance Range")/totalCabs*100).alias("Ratio"))\
                     .orderBy("NumRides", ascending=False)\
                     .select("Distance Range","NumRides",round("Ratio",2).alias("RoundedRatio")).show()

+---------------+--------+------------+
| Distance Range|NumRides|RoundedRatio|
+---------------+--------+------------+
| Short Distance|  325634|       46.98|
|Medium Distance|  318071|       45.89|
|  Long Distance|   49366|        7.12|
+---------------+--------+------------+

In [134]:
totalCabs = CabsDF.count()
PriceCategorizationDF = CabsDF\
   .where(col("distance")!=0)\
   .withColumn("Price Range", when((col("price")>0)&(col("price")<=30),"Low Price")\
                             .when((col("price")>30)&(col("price")<=60),"Medium Price")\
                             .when((col("price")>60)&(col("price")<=100),"High Price"))

PriceCategorizationDF.cache() # optimization to make the processing faster
PriceCategorizationDF.where(col("price")!=0)\
                     .select("Price Range", "price")\
                     .groupBy("Price Range")\
                     .agg(count("Price Range").alias("NumRides"), \
                          (count("Price Range")/totalCabs*100).alias("Ratio"))\
                     .orderBy("NumRides", ascending=False)\
                     .select("Price Range","NumRides",round("Ratio",2).alias("RoundedRatio")).show()

+------------+--------+------------+
| Price Range|NumRides|RoundedRatio|
+------------+--------+------------+
|   Low Price|  581170|       83.85|
|Medium Price|   56216|        8.11|
|  High Price|     590|        0.09|
+------------+--------+------------+

### B. Ratios of Analysis

In [153]:

totalCabsOriginDF = \
   CabsDF.groupBy("source")\
            .agg(count("source").alias("TotalRides"))
nameCategorizationOriginDF = \
  nameCategorizationDF.where((col("Cab Category")!='NA'))\
                       .withColumn("FinalDestination", col("destination"))\
                       .select("Cab Category", "FinalDestination","source")\
                       .groupBy("source", "Cab Category")\
                       .agg(count("FinalDestination").alias("NumberofRides"))

combinedDF=\
  nameCategorizationOriginDF\
     .join(totalCabsOriginDF, "source")\
     .withColumn("Cab Preference", round(col("NumberofRides")/col("TotalRides")*100,2))\
     .orderBy(col("Cab Preference").desc())
combinedDF.cache() # optimization to make the processing faster

display(Markdown("**Cab Preference according to Origin:**"))
combinedDF.limit(20).show()

**Cab Preference according to Origin:**

+--------------------+------------+-------------+----------+--------------+
|              source|Cab Category|NumberofRides|TotalRides|Cab Preference|
+--------------------+------------+-------------+----------+--------------+
|    Theatre District|       Black|         4612|     57813|          7.98|
|    Theatre District|       UberX|         4612|     57813|          7.98|
|    Theatre District|   Black SUV|         4612|     57813|          7.98|
|    Theatre District|      UberXL|         4612|     57813|          7.98|
|    Theatre District|        Taxi|         4612|     57813|          7.98|
|    Theatre District|         WAV|         4612|     57813|          7.98|
|    Theatre District|    UberPool|         4611|     57813|          7.98|
|            West End|    UberPool|         4582|     57562|          7.96|
|            West End|   Black SUV|         4582|     57562|          7.96|
|            West End|         WAV|         4582|     57562|          7.96|
|            West End|      UberXL|         4582|     57562|          7.96|
|            West End|       Black|         4582|     57562|          7.96|
|            West End|        Taxi|         4582|     57562|          7.96|
|            West End|       UberX|         4582|     57562|          7.96|
|Northeastern Univ...|    UberPool|         4591|     57756|          7.95|
|Northeastern Univ...|      UberXL|         4592|     57756|          7.95|
|Northeastern Univ...|       Black|         4592|     57756|          7.95|
|Northeastern Univ...|   Black SUV|         4592|     57756|          7.95|
|Northeastern Univ...|       UberX|         4591|     57756|          7.95|
|Northeastern Univ...|        Taxi|         4592|     57756|          7.95|
+--------------------+------------+-------------+----------+--------------+

In [152]:
totalCabsOriginDF = \
   CabsDF.groupBy("name")\
            .agg(count("name").alias("TotalRides"))

nameDistanceOriginDF = \
  DistanceCategorizationDF.where((col("Distance Range")!='NA'))\
                          .withColumn("FinalDestination", col("destination"))\
                          .select("Distance Range","FinalDestination","name")\
                          .groupBy("name", "Distance Range")\
                          .agg(count("FinalDestination").alias("NumberofRides"))

combinedDF=\
 nameDistanceOriginDF\
     .join(totalCabsOriginDF, "name")\
     .withColumn("Distance Preference", round(col("NumberofRides")/col("TotalRides")*100,2))\
     .orderBy(col("Distance Preference").desc())
combinedDF.cache() # optimization to make the processing faster

display(Markdown("**Distance Preference:**"))
combinedDF.limit(20).show()

**Distance Preference:**

+------------+---------------+-------------+----------+-------------------+
|        name| Distance Range|NumberofRides|TotalRides|Distance Preference|
+------------+---------------+-------------+----------+-------------------+
|   Black SUV| Short Distance|        26205|     55096|              47.56|
|        Taxi| Short Distance|        26204|     55095|              47.56|
|       UberX| Short Distance|        26204|     55094|              47.56|
|      UberXL| Short Distance|        26205|     55096|              47.56|
|    UberPool| Short Distance|        26203|     55091|              47.56|
|       Black| Short Distance|        26204|     55095|              47.56|
|         WAV| Short Distance|        26205|     55096|              47.56|
|         Lux|Medium Distance|        23910|     51235|              46.67|
|     Lyft XL|Medium Distance|        23910|     51235|              46.67|
|Lux Black XL|Medium Distance|        23910|     51235|              46.67|
|        Lyft|Medium Distance|        23910|     51235|              46.67|
|      Shared|Medium Distance|        23910|     51233|              46.67|
|   Lux Black|Medium Distance|        23910|     51235|              46.67|
|         Lux| Short Distance|        23701|     51235|              46.26|
|     Lyft XL| Short Distance|        23701|     51235|              46.26|
|Lux Black XL| Short Distance|        23701|     51235|              46.26|
|        Lyft| Short Distance|        23701|     51235|              46.26|
|      Shared| Short Distance|        23699|     51233|              46.26|
|   Lux Black| Short Distance|        23701|     51235|              46.26|
|   Black SUV|Medium Distance|        24945|     55096|              45.28|
+------------+---------------+-------------+----------+-------------------+

In [154]:
totalCabsOriginDF = \
   CabsDF.groupBy("name")\
            .agg(count("name").alias("TotalRides"))

namePriceOriginDF = \
  PriceCategorizationDF.where((col("Price Range")!='NA'))\
                          .withColumn("FinalDestination", col("destination"))\
                          .select("Price Range","FinalDestination","name")\
                          .groupBy("name", "Price Range")\
                          .agg(count("FinalDestination").alias("NumberofRides"))

combinedDF=\
 namePriceOriginDF\
     .join(totalCabsOriginDF, "name")\
     .withColumn("Price Preference", round(col("NumberofRides")/col("TotalRides")*100,2))\
     .orderBy(col("Price Preference").desc())
combinedDF.cache() # optimization to make the processing faster

display(Markdown("**Price variation according to cab**:"))
combinedDF.show(30)

**Price variation according to cab**:

+------------+------------+-------------+----------+----------------+
|        name| Price Range|NumberofRides|TotalRides|Price Preference|
+------------+------------+-------------+----------+----------------+
|      Shared|   Low Price|        51233|     51233|           100.0|
|    UberPool|   Low Price|        55089|     55091|           100.0|
|        Lyft|   Low Price|        51223|     51235|           99.98|
|       UberX|   Low Price|        55084|     55094|           99.98|
|         WAV|   Low Price|        55086|     55096|           99.98|
|     Lyft XL|   Low Price|        50827|     51235|            99.2|
|      UberXL|   Low Price|        54423|     55096|           98.78|
|         Lux|   Low Price|        50366|     51235|            98.3|
|       Black|   Low Price|        52640|     55095|           95.54|
|   Lux Black|   Low Price|        45869|     51235|           89.53|
|   Black SUV|   Low Price|        32382|     55096|           58.77|
|Lux Black XL|   Low Price|        26948|     51235|            52.6|
|Lux Black XL|Medium Price|        23799|     51235|           46.45|
|   Black SUV|Medium Price|        22695|     55096|           41.19|
|   Lux Black|Medium Price|         5290|     51235|           10.32|
|       Black|Medium Price|         2452|     55095|            4.45|
|         Lux|Medium Price|          869|     51235|             1.7|
|      UberXL|Medium Price|          671|     55096|            1.22|
|Lux Black XL|  High Price|          488|     51235|            0.95|
|     Lyft XL|Medium Price|          406|     51235|            0.79|
|   Lux Black|  High Price|           76|     51235|            0.15|
|   Black SUV|  High Price|           19|     55096|            0.03|
|        Lyft|Medium Price|           12|     51235|            0.02|
|       UberX|Medium Price|           10|     55094|            0.02|
|         WAV|Medium Price|           10|     55096|            0.02|
|       Black|  High Price|            3|     55095|            0.01|
|     Lyft XL|  High Price|            2|     51235|             0.0|
|      UberXL|  High Price|            2|     55096|             0.0|
|    UberPool|Medium Price|            2|     55091|             0.0|
+------------+------------+-------------+----------+----------------+